h1 {
    display: flex;
    height: 100px;
    align-content: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header{
    text-align: center;
}
    
body h2 {
    outline: 12px;
}

body{
    font-family: 'Courier New', Courier, monospace, serif;
    margin: 50px;
}

.wrapper{
    display: flex;
    justify-content: space-between;
}

.nav-items{
    display: flex;
    justify-content: space-between;
}

.nav-items li{
    padding: 50px;
    list-style-type: none;
    justify-content: space-between;
}

footer{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: flex-end;

}